<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && saveEntry()" novalidate class="feedback-form">

        <!-- Entry type -->
        <div class="form-group">
          <label for="entryType" class="form-label">Entry type</label>
          <select #entryType="ngModel" [(ngModel)]="model.type"
                  [ngClass]="{ 'is-invalid': f.submitted && entryType.invalid}"
                  class="form-select"
                  id="entryType"
                  name="entryType"
                  required>
            <option [ngValue]="'EXPENSE'">Expense</option>
            <option [ngValue]="'INCOME'">Income</option>
            <option [ngValue]="'TRANSFER'">Transfer</option>
          </select>
          <div *ngIf="f.submitted && entryType.invalid" class="invalid-input">
            <div *ngIf="entryType.errors?.required">Entry type is not valid</div>
          </div>
        </div>

        <!-- Amount -->
        <div class="row">
          <div class="form-group col-md-9">
            <label for="amount" class="form-label">Amount</label>
            <input [(ngModel)]="model.amount"
                   class="form-control"
                   id="amount"
                   name="amount"
                   placeholder="Amount"
                   required
                   type="number">
          </div>
          <!-- Currency -->
          <div class="form-group col-md-3">
            <label for="currency" class="form-label">Currency</label>
            <select [(ngModel)]="model.currency"
                    class="form-select"
                    id="currency"
                    name="currency">
              <option [ngValue]="'PLN'">PLN</option>
            </select>
          </div>
        </div>

        <!-- Account -->
        <div class="form-group">
          <label for="account" class="form-label">Account</label>
          <select [(ngModel)]="model.accountId"
                  class="form-select"
                  id="account"
                  name="account">
            <option *ngFor="let currentAccount of accounts"
                    [value]="currentAccount.id">{{currentAccount.name}}</option>
          </select>
        </div>

        <!-- Category -->
        <div class="form-group">
          <label for="category" class="form-label">Category</label>
          <select [(ngModel)]="model.categoryId" class="form-select" id="category" name="category">
            <option *ngFor="let currentCategory of categories"
                    [ngValue]="currentCategory.id">{{currentCategory.name}}</option>
          </select>
        </div>

        <!-- Date -->
        <div class="form-group">
          <label for="date" class="form-label">Date and time</label>
          <input [(ngModel)]="model.date"
                 id="date"
                 name="date"
                 placeholder="Date and time"
                 class="form-control"
                 type="datetime-local">
        </div>

        <!-- Payment type -->
        <div class="form-group">
          <label for="paymentType" class="form-label">Payment type</label>
          <select [(ngModel)]="model.paymentType"
                  class="form-select"
                  id="paymentType"
                  name="paymentType">
            <option *ngFor="let currentPaymentType of paymentTypes"
                    [ngValue]="currentPaymentType.id">{{currentPaymentType.name}}</option>
          </select>
        </div>

        <!-- Description -->
        <div class="form-group">
          <label for="description" class="form-label">Description</label>
          <input [(ngModel)]="model.description"
                 class="form-control"
                 id="description"
                 name="description"
                 placeholder="Description"
                 type="text">
        </div>

        <button type="submit" class="btn btn-info pull-right m-3">Save entry</button>
      </form>
    </div>
  </div>
</div>
