<div class="container-fluid" style="background-color: #eff0f2">
  <div class="row" style="background-color: #eff0f2; height: 50px"></div>
  <div class="row" style="margin-left: 50px; margin-right: 50px; height: 100%">

    <!--  Left panel  -->
    <div class="col-md-2" style="background-color: white">
      <div class="d-flex justify-content-center" style="margin-top: 50px;">
        <a routerLink="/entry/add" type="button" class="btn btn-secondary" style="width: 90%">+ Add new entry</a>
      </div>
    </div>

    <!--  Entry list  -->
    <div class="col-md-10" style="padding: 0">
      <div class="row" style="width: calc(100% - 15px); margin: 0">
        <div class="col-md-12" style="margin-left: 15px">
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action"
               style="margin-top: 5px;"
               *ngFor="let entry of entries">
              <div class="d-flex justify-content-around d-flex p-2">
                <div class="col-md-5" style="margin-left: 20px; font-weight: bold">
                  <i class="fa fa-university" aria-hidden="true" style="margin-right: 10px"></i>
                  {{entry.categoryLabel}}
                </div>
                <div class="col-md-5">
                  <span class="dot" style="height: 10px;width: 10px; background-color: #bbb;
                    border-radius: 50%; display: inline-block; margin-right: 10px">
                  </span>
                  {{entry.accountLabel}}
                </div>
                <div *ngIf="entry.type === 'EXPENSE'"
                     class="col-md-2 float-md-end"
                     style="font-weight: bold; text-align: right; margin-right: 20px; color: orangered">
                  - {{entry.amount}} {{entry.currency}}
                </div>
                <div *ngIf="entry.type !== 'EXPENSE'"
                     class="col-md-2 float-md-end"
                     style="font-weight: bold; text-align: right; margin-right: 20px; color: darkgreen">
                  + {{entry.amount}} {{entry.currency}}
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
